<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannersEnabled</key>
	<true/>
	<key>enableNineLS</key>
	<false/>
	<key>lockSound</key>
	<true/>
	<key>musicArtistNameXPosition</key>
	<real>100</real>
	<key>musicArtistNameYPosition</key>
	<real>100</real>
	<key>musicArtistTitleCustom</key>
	<false/>
	<key>musicArtworkXPosition</key>
	<real>100</real>
	<key>musicArtworkYPosition</key>
	<real>100</real>
	<key>musicControlButtonsCustom</key>
	<false/>
	<key>musicEnabled</key>
	<true/>
	<key>musicHideArtistTitle</key>
	<false/>
	<key>musicHideMediaControls</key>
	<false/>
	<key>musicHideSongArtwork</key>
	<false/>
	<key>musicHideSongTitle</key>
	<false/>
	<key>musicHideTimeControls</key>
	<false/>
	<key>musicHideVolumeSlider</key>
	<false/>
	<key>musicMediaControlsXPosition</key>
	<real>100</real>
	<key>musicMediaControlsYPosition</key>
	<real>100</real>
	<key>musicProgressBarCustom</key>
	<false/>
	<key>musicSongArtworkCustom</key>
	<false/>
	<key>musicSongNameXPosition</key>
	<real>100</real>
	<key>musicSongNameYPosition</key>
	<real>100</real>
	<key>musicSongTitleCustom</key>
	<false/>
	<key>musicTimesControlsXPosition</key>
	<real>100</real>
	<key>musicTimesControlsYPosition</key>
	<real>100</real>
	<key>musicVolumeSliderCustom</key>
	<false/>
	<key>musicVolumeSliderXPosition</key>
	<real>100</real>
	<key>musicVolumeSliderYPosition</key>
	<real>100</real>
	<key>notifEnableSeparators</key>
	<true/>
	<key>notifEnabled</key>
	<true/>
	<key>notifSeparatorAlpha</key>
	<real>0.45</real>
	<key>notifdisableGrouping</key>
	<false/>
	<key>slideToUnlockChevron</key>
	<true/>
	<key>slideToUnlockSize</key>
	<string>25</string>
	<key>slideToUnlockText</key>
	<string>slide to unlock</string>
	<key>slideToUnlockColor</key>
	<string>#000000</string>
	<key>slideToUnlockAutoHide</key>
	<false/>
	<key>slideToUnlockEnabled</key>
	<true/>
</dict>
</plist>
