<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.minhton.ninelspref</string>
			<key>key</key>
			<string>musicVolumeSliderCustom</string>
			<key>label</key>
			<string>Custom Position</string>
			<key>PostNotification</key>
			<string>me.minhton.ninels/prefsupdated</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Music Volume Slider X Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100.0</real>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>1200.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>defaults</key>
			<string>me.minhton.ninelspref</string>
			<key>key</key>
			<string>musicVolumeSliderXPosition</string>
			<key>PostNotification</key>
			<string>me.minhton.ninels/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Music Volume Slider Y Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100.0</real>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>2600.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>defaults</key>
			<string>me.minhton.ninelspref</string>
			<key>key</key>
			<string>musicVolumeSliderYPosition</string>
			<key>PostNotification</key>
			<string>me.minhton.ninels/prefsupdated</string>
		</dict>

	</array>
	<key>title</key>
	<string>Music Player</string>
</dict>
</plist>
